@font-face {
    font-family: 'OpenMoji';
    src: url('../font/OpenMoj10.ttf');
  }

:root {
    --picolo_yellow: #E7BB00;
    --picolo_red: #E51000;
    --picolo_blue: #1B586B;
    --picolo_green: #00B407;
    --picolo_player: #88ffff;
    --picolo_sip: #ffff88;
    --picolo_team: #ff8844;
    --picolo_player_dark: #6dbbbb;
    --picolo_sip_dark: #d7d78a;
    --picolo_team_dark: #a6582c;
    --dark_mode_light_gray: #1b1b1b;
    --dark_mode_gray: #101010;
}

.page {
    padding: 5vw;
    height: 100vh;
}
.btn-secondary{ width: 100%; }
#game {transition: background-color 0.5s ease;background-color: var(--orange);}
#ingame_content {    
    text-align: center;
    color:white;
    padding: 5vw;
}
#ingame_text {
    padding-top: 12%;
}

p#ingame_sentence, #text_game_ready, #text_game_endgame, h1#ingame_title {font-weight: bold;font-size: 4.5vh;user-select: none;line-height: 1.75;}
h1#ingame_title {font-weight: 900;}

.animation_text_change {
    animation: animation_text_change 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes animation_text_change {
0% {opacity: 0;transform: translateX(3vw);}
}

div#game {overflow: auto;}
div#game.yellow {background-color: var(--picolo_yellow);}
div#game.red {background-color: var(--picolo_red);}
div#game.blue {background-color: var(--picolo_blue);}
div#game.green {background-color: var(--picolo_green);}
div#game.black {background-color: var(--dark);}

.dark_mode div#game.dark_affected {background-color: inherit;}

.dark_mode .dark_affected.blue #ingame_sentence {color: var(--picolo_blue);}
.dark_mode .dark_affected.red #ingame_sentence {color: var(--picolo_red);}
.dark_mode .dark_affected.yellow #ingame_sentence {color: var(--picolo_yellow);}
.dark_mode .dark_affected.green #ingame_sentence {color: var(--picolo_green);}

.recap_sentences_cell {
    border: 1px solid black;
    color: white;
    width: 2vw;
    height: 2vw;
}
.active_recap_sentences_cell {
    box-shadow: inset 0 0 3px 1px white;
}

.input_name {
    width: 100%;
    text-align: center;
    color: unset;
    background-color: #00000010;
    border: unset;
}

.dark_mode span.span_player, .dark_mode span.span_sip, .dark_mode span.span_team {background-color: #00000040;}
.dark_mode span.span_player {color: #5cc7c7;}
.dark_mode span.span_sip {color: #caca67;}
.dark_mode span.span_team {color: #d27220;}


.dark_mode .input_name, .dark_mode .table, .dark_mode td, .dark_mode th {
    background-color: var(--dark_mode_gray);
    border-color: black !important;
    color:white;
}

.dark_mode input, .dark_mode select {
    background-color: var(--dark_mode_gray);
    border-color:#101010;
}

.dark_mode :disabled {
    background-color: var(--dark_mode_gray);
    border-color:#101010;
    opacity:0.5;
}

/* .bright_mode #disclaimer, .bright_mode #menu, .bright_mode div#gamemode, .bright_mode div#team_selection {
    background-color: var(--picolo_blue);
    color: white;
} */
span.span_player, span.span_sip, span.span_team {padding-left: 7px;padding-right: 7px;padding-top: 2px;padding-bottom: 2px;border-radius: 3px;background-color: #00000080;}
span.span_player {color: var(--picolo_player);}
span.span_sip {color: var(--picolo_sip);}
span.span_team {color: var(--picolo_team);}


div#sentence_list {margin: 5vh;overflow: auto;height: 60vh;}

li.list-group-item.sentence-list {
    background-color: var(--dark_mode_light_gray);
    border-color: var(--dark_mode_gray);
    font-size: 120%;
    font-weight: 700;
}
li.list-group-item.sentence-list.red {color:var(--picolo_red)}
li.list-group-item.sentence-list.yellow {color:var(--picolo_yellow)}
li.list-group-item.sentence-list.green {color:var(--picolo_green)}
li.list-group-item.sentence-list.blue {color:var(--picolo_blue)}

@media screen and (orientation:portrait) {
    #ingame_content {
        text-align: center;
        transform: rotate(-90deg) translateX(-95vh);
        transform-origin: top left;
        width: 95vh;
        padding: 11.25vw;
    }
    p#ingame_sentence {
        font-size: 3vh;
    }
    div#sentence_list {
        height: 30vh;
    }
}
div#ingame_option, div#ingame_player_option {
    background-color: #00000026;
    margin-top: 5vh;
    padding: 5vh;
    border-radius: 1vh;
    width: 100%;
    margin: 1vh;
}