:root {
    --picolo_yellow: #E7BB00;
    --picolo_red: #E51000;
    --picolo_blue: #1B586B;
    --picolo_green: #00B407;
  }

.page {
    padding: 5vw;
    height: 100vh;
}
.btn-secondary{ width: 100%; }
#game {transition: background-color 0.5s ease;}
#ingame_content {    
    text-align: center;
    color:white;
}
#ingame_text {
    padding-top:10%;
}

p#ingame_sentence {font-weight: bold;font-size: 6.5vh;user-select: none;}

div#game.yellow {background-color: var(--picolo_yellow);}
div#game.red {background-color: var(--picolo_red);}
div#game.blue {background-color: var(--picolo_blue);}
div#game.green {background-color: var(--picolo_green);}

table#recapSentences {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
}
td {
    border: 1px solid black;
    color: white;
}

@media screen and (orientation:portrait) {
    #ingame_content {
        text-align: center;
        transform: rotate(-90deg) translateX(-25em) translateY(-25em) scale(0.9);
        height: 0vw;
        width: 100vh;
    }
    p#ingame_sentence {
        font-size: 5vh;
    }
}

/* p {
        text-shadow: 0.5vw 0.5vh 1vw rgb(0 0 0 / 50%);
} */