:root {
    --picolo_yellow: #E7BB00;
    --picolo_red: #E51000;
    --picolo_blue: #1B586B;
    --picolo_green: #00B407;
  }

.page {
    padding: 5vw;
    height: 100vh;
}
.btn-secondary{ width: 100%; }
#game {transition: background-color 0.5s ease;}
#ingame_content {    
    text-align: center;
    color:white;
}
#ingame_text {
    padding-top:10%;
}

p#ingame_sentence {font-weight: bold;font-size: 4.5vh;user-select: none;}

div#game.yellow {background-color: var(--picolo_yellow);}
div#game.red {background-color: var(--picolo_red);}
div#game.blue {background-color: var(--picolo_blue);}
div#game.green {background-color: var(--picolo_green);}
/* 
div#game.dark_affected {background-color: inherit}

.dark_affected.blue #ingame_sentence {color: var(--picolo_blue);}
.dark_affected.red #ingame_sentence {color: var(--picolo_red);}
.dark_affected.yellow #ingame_sentence {color: var(--picolo_yellow);}
.dark_affected.green #ingame_sentence {color: var(--picolo_green);} */

table#html_recap_sentences {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 2vw;
}
td {
    border: 1px solid black;
    color: white;
    width: 2vw;
    height: 2vw;
}

@media screen and (orientation:portrait) {
    #ingame_content {
        text-align: center;
        transform: rotate(-90deg) translateX(-25em) translateY(-25em) scale(0.9);
        height: 0vw;
        width: 100vh;
    }
    p#ingame_sentence {
        font-size: 3vh;
    }
}