:root {
    --picolito_background: #E7BB00;
    --picolo_yellow: #E7BB00;
    --picolo_red: #E51000;
    --picolo_blue: #1B586B;
    --picolo_green: #00B407;
    --picolo_purple: #a700fd;
    --picolo_yellow_highlight: #E7BB00;
    --picolo_red_highlight: #E51000;
    --picolo_blue_highlight: #0093c1;
    --picolo_green_highlight: #00d508;
    --picolo_dark_blue: #093340;

    --picolo_player: #88ffff;
    --picolo_sip: #ffff88;
    --picolo_team: #ff8844;
    --picolo_player_dark: #6dbbbb;
    --picolo_sip_dark: #d7d78a;
    --picolo_team_dark: #a6582c;

    --dark_mode_light_gray: #252525;
    --dark_mode_gray: #101010;
}
.page {
    padding: 5vw;
    height: 100vh;
    /* background-color: var(--picolito_background); */
}
.btn-secondary{ width: 100%; }
#game {transition: background-color 0.75s ease;background-color: var(--orange);}
#game_content {
    text-align: center;
    color:white;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ingame_text {
    cursor: pointer;
    /* background-color: #0003; */
    /* margin-top: 10%; */
    padding-top: 5vw;
    padding-bottom: 5vw;
    /* background-color: cyan; */
}

p#ingame_sentence, #text_game_ready, #text_game_endgame, h1#ingame_title {
    font-weight: bold;
    font-size: xx-large;
    user-select: none;
    -webkit-user-select:none;
    line-height: 1.75;
    padding-left: 5vw;
    padding-right: 5vw;
    text-size-adjust: auto;
}

#text_game_ready {
    font-size: xx-large;
}

h1#ingame_title {font-weight: 900;}

.animation_text_change {
    animation: animation_text_change 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
@keyframes animation_text_change {
0% {opacity: 0;transform: translateX(5vw);}
}

div#game {overflow: hidden;padding: 0;background-color: var(--gray-dark);}
div#game.yellow {background-color: var(--picolo_yellow);}
div#game.red {background-color: var(--picolo_red);}
div#game.blue {background-color: var(--picolo_blue);}
div#game.green {background-color: var(--picolo_green);}
div#game.black {background-color: var(--dark);}
div#game.purple {background-color: var(--purple);}

.dark_mode div#game.dark_affected {background-color: inherit;}

.dark_mode .dark_affected.blue #ingame_sentence {color: var(--picolo_blue_highlight);}
.dark_mode .dark_affected.red #ingame_sentence {color: var(--picolo_red);}
.dark_mode .dark_affected.yellow #ingame_sentence {color: var(--picolo_yellow);}
.dark_mode .dark_affected.green #ingame_sentence {color: var(--picolo_green_highlight);}
.dark_mode .dark_affected.purple #ingame_sentence {color: var(--picolo_purple);}

.recap_sentences_cell {
    border: 1px solid black;
    color: white;
    width: 2vw;
    height: 2vw;
}
.active_recap_sentences_cell {
    box-shadow: inset 0 0 3px 1px white;
}

.input_name {
    width: 100%;
    text-align: center;
    color: unset;
    background-color: #00000010;
    border: unset;
}

.dark_mode span.span_player, .dark_mode span.span_sip, .dark_mode span.span_team {background-color: #00000040;}
.dark_mode span.span_player {color: var(--picolo_player);}
.dark_mode span.span_sip {color: var(--picolo_sip);}
.dark_mode span.span_team {color: var(--picolo_team);}


.dark_mode .input_name, .dark_mode .table, .dark_mode td, .dark_mode th {
    background-color: var(--dark_mode_gray);
    border-color: black !important;
    color:white;
}

.dark_mode :disabled {
    background-color: var(--dark_mode_gray);
    border-color:#101010;
    opacity:0.5;
}

/* .bright_mode #disclaimer, .bright_mode #menu, .bright_mode div#gamemode, .bright_mode div#team_selection {
    background-color: var(--picolo_blue);
    color: white;
} */
span.span_player, span.span_sip, span.span_team {padding-left: 7px;padding-right: 7px;padding-top: 2px;padding-bottom: 2px;border-radius: 3px;background-color: #00000080;}
span.span_player {color: var(--picolo_player);}
span.span_sip {color: var(--picolo_sip);}
span.span_team {color: var(--picolo_team);}


div#sentence_list {margin: 5vh;overflow: auto;height: 60vh;}

li.list-group-item.sentence-list {
    background-color: var(--dark_mode_light_gray);
    border-color: var(--dark_mode_gray);
    font-size: 120%;
    font-weight: 700;
}
li.list-group-item.sentence-list.red {color:var(--picolo_red)}
li.list-group-item.sentence-list.yellow {color:var(--picolo_yellow)}
li.list-group-item.sentence-list.green {color:var(--picolo_green)}
li.list-group-item.sentence-list.blue {color:var(--picolo_blue)}

@media screen and (orientation:portrait) {
    #game_content {
        text-align: center;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        width: 100vh;
        padding: 0;
        height: 100vw;
    }
    div#sentence_list {
        height: 30vh;
    }
}
div#ingame_option {
    background-color: #000000c7;
    /* opacity: 0.5; */
    /* margin-top: 5vh; */
    /* padding: 2.5vh; */
    /* border-radius: 1vh; */
    width: 100%;
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#ingame_player_option, #replay_ingame_option, #start_ingame_option {
    background-color: #000000d9;
    padding: 5vh;
    border: 1px solid #ffffff4f;
    border-radius: .25rem;
}

.dice, .playing_card {
    font-size: 20vw;
    padding: 0;
    line-height: 0.5;
    cursor: pointer;
}

h1#gamename {
    --couleur: 0, 0, 0;
    --bright: #ffb100;
    --shade: #bb8200;
    display: flex;
    justify-content: center;
    color: var(--bright);
    text-shadow: 0 1px 0 var(--shade), 0 2px 0 var(--shade), 0 3px 0 var(--shade), 0 4px 0 var(--shade), 0 5px 0 var(--shade), 0 6px 1px rgba(var(--couleur), .1), 0 0 5px rgba(var(--couleur), .1), 0 1px 3px rgba(var(--couleur), .3), 0 3px 5px rgba(var(--couleur), .3), 0 5px 10px rgba(var(--couleur), .25), 0 10px 10px rgba(var(--couleur), .2), 0 20px 20px rgba(var(--couleur), .15);
    font-size: calc(5vh);
    font-weight: bold;
    user-select: none;
    animation: logo_appear 0.5s;
}


@keyframes logo_appear {
    0% {
        transform: scale3d(0.8, 0.75, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
  }

div#cookie-disclaimer {
    margin-top: 10px;
    font-family: monospace;
    font-size: small;
}

div#disclaimer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5vw;
    background-color: var(--picolito_background);
}

div#disclaimer_warning {
    background-color: white;
    padding: 5vw;
    border-radius: .25rem;
    overflow-y: clip;
    overflow: auto;
    height: 90%;
}

.dark_mode #disclaimer_warning {
    background-color: var(--dark_mode_light_gray);
}

div#disclaimer_warning_validation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1vw;
    border-radius: .25rem;
    margin-top: 1vh;
}

.dark_mode div#disclaimer_warning_validation {
    background-color: var(--dark_mode_gray);
}

a#picolito_version {
    text-decoration: unset;
    color: unset;
    bottom: 5vw;
    height: 7.5%;
    padding: 2.5vw;
    display: flex;
    align-items: center;
}

div#menu {padding: 3vw;height: auto;/* background-color: var(--picolito_background); */height: auto;}

div#menu_links { display: grid; }

div#menu_content {
    padding: 1rem;
    border-radius: .25rem;
}

.dark_mode .dark_affected body {
    color: white;
    background-color: #252525 !important;
}

div#ingame_topbar {
    padding: 3vh;
    /* background-color: lime; */
}
div#menu_player_list {
    display: flex;
    flex-wrap: wrap;
}

div#ingame_information {
    color: #0000004a;
    padding: 1vh;
    transition: 0.25s;
}

div#ingame_information:hover {
    color: #000000a6;
    font-weight: bold;
}