:root {
    --purple: #5c0090;
}

.btn, .form-control, .list-group, .list-group-item{
    border-radius: .125rem;
    margin-left: 1px;
    margin-right: 1px;
    transition: 0.25s;
}
.btn:hover, .form-control:hover, .list-group-item:hover{
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 20%);
}
.dark_mode .dark_affected .btn:hover, .dark_mode .dark_affected .form-control:hover, .dark_mode .dark_affected .list-group-item:hover{
    box-shadow: 0 0 10px 0px #ffffff66;
}

.dark_mode .dark_affected .btn-primary:hover { box-shadow: 0 0 10px 0px var(--primary); }
.dark_mode .dark_affected .btn-secondary:hover { box-shadow: 0 0 10px 0px var(--secondary); }
.dark_mode .dark_affected .btn-info:hover {box-shadow: 0 0 10px 0px var(--info);}
.dark_mode .dark_affected .btn-warning:hover { box-shadow: 0 0 10px 0px var(--warning); }
.dark_mode .dark_affected .btn-danger:hover { box-shadow: 0 0 10px 0px var(--danger); }
.dark_mode .dark_affected .btn-light:hover { box-shadow: 0 0 10px 0px var(--light); }
.dark_mode .dark_affected .btn-dark:hover { box-shadow: 0 0 10px 0px var(--dark); }
.dark_mode .dark_affected .btn-success:hover {box-shadow: 0 0 10px 0px var(--success);}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
}

hr {
    border-top: 1px solid #0000000d;
}

.btn-dark, .list-group-item-dark {
    color: white;
    background-color: var(--gray);
    border-color: var(--gray);
}
.btn-dark:hover, .list-group-item-dark:hover {
    color: white;
    background-color: var(--gray-dark);
    border-color: white;
}

.dark_mode .dark_affected, body.dark_mode{
    background-color: var(--dark_mode_light_gray) !important;
    color: white;
    transition: 0.25s;
}
.dark_mode .dark_affected .list-group-item-dark, .dark_mode .dark_affected .btn {
    color: #ffffff;
    background-color: #0000;
}
.dark_mode .dark_affected input {
    color: #ffffff;
    background-color: #0000;
}

.dropdown-menu {
    transform: translate(10px, 10px) !important;
}

input[type=checkbox] {
    transform: scale(1.33);
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}

.dark_mode .dark_affected .btn-primary{
    color: #fff;
    background-color: none;
    border-color: #e3e3e3;
}

.dark_mode .dark_affected select{
    color: #fff;
    border-color: #999999;
    background-color: var(--dark_mode_light_gray);
}

.d-flex {
    justify-content: center;
}

hr, .btn, div#ingame_option, div#ingame_player_option, .form-control, .list-group, .list-group-item {
    box-shadow: 0px 1px 1px 0px #00000030;
    justify-content: center;
    align-items: center;
}

label.form-check-label {
    margin-bottom: 1vh;
    user-select: none;
    -webkit-user-select:none;
}