body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --purple: #5c0090;
}

.btn, .form-control, .list-group, .list-group-item{
    border-radius: .125rem;
    margin-left: 1px;
    margin-right: 1px;
    transition: 0.25s;
}
.btn:hover, .form-control:hover, .list-group-item:hover{
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 20%);
}
.dark_mode .dark_affected .btn:hover, .dark_mode .dark_affected .form-control:hover, .dark_mode .dark_affected .list-group-item:hover{
    box-shadow: 0 0 10px 0px #ffffff66;
}

.dark_mode .dark_affected .btn-primary:hover { box-shadow: 0 0 10px 0px var(--primary); }
.dark_mode .dark_affected .btn-secondary:hover { box-shadow: 0 0 10px 0px var(--secondary); }
.dark_mode .dark_affected .btn-info:hover { box-shadow: 0 0 10px 0px var(--info); }
.dark_mode .dark_affected .btn-warning:hover { box-shadow: 0 0 10px 0px var(--warning); }
.dark_mode .dark_affected .btn-danger:hover { box-shadow: 0 0 10px 0px var(--danger); }
.dark_mode .dark_affected .btn-light:hover { box-shadow: 0 0 10px 0px var(--light); }
.dark_mode .dark_affected .btn-dark:hover { box-shadow: 0 0 10px 0px var(--dark); }
.dark_mode .dark_affected .btn-success:hover { box-shadow: 0 0 10px 0px var(--success); }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
}

hr {
    border-top: 1px solid #0000000d;
}

.btn-dark, .list-group-item-dark {
    color: white;
    background-color: var(--gray);
    border-color: var(--gray);
}
.btn-dark:hover, .list-group-item-dark:hover {
    color: white;
    background-color: var(--gray-dark);
    border-color: white;
}

.dark_mode .dark_affected, body.dark_mode{
    background-color: #252525;
    color: white;
    transition: 0.25s;
}
.dark_mode .dark_affected .list-group-item-dark, .dark_mode .dark_affected .btn {
    color: #ffffff;
    background-color: #0000;
}
.dark_mode .dark_affected input {
    color: #ffffff;
    background-color: #0000;
}

.dropdown-menu {
    transform: translate(10px, 10px) !important;
}