:root {
    --purple: #5c0090;
    --bs-gray: #495057;
}

.btn, .form-control, .list-group, .list-group-item, img.svg{
    border-radius: .125rem;
    transition: 0.25s;
    margin: 2px;
}
.btn:hover, .form-control:hover, .list-group-item:hover, .nostyle-button:hover{
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 20%);
}
.dark_mode .dark_affected .btn:hover, .dark_mode .dark_affected .form-control:hover, .dark_mode .dark_affected .list-group-item:hover{
    box-shadow: 0 0 10px 0px #ffffff66;
}

.dark_mode .dark_affected .btn-primary:hover { box-shadow: 0 0 10px 0px var(--primary); }
.dark_mode .dark_affected .btn-secondary:hover { box-shadow: 0 0 10px 0px var(--secondary); }
.dark_mode .dark_affected .btn-primary:hover {box-shadow: 0 0 10px 0px var(--info);}
.dark_mode .dark_affected .btn-primary:hover { box-shadow: 0 0 10px 0px var(--warning); }
.dark_mode .dark_affected .btn-danger:hover { box-shadow: 0 0 10px 0px var(--danger); }
.dark_mode .dark_affected .btn-light:hover { box-shadow: 0 0 10px 0px var(--light); }
.dark_mode .dark_affected .btn-dark:hover { box-shadow: 0 0 10px 0px var(--dark); }
.dark_mode .dark_affected .btn-success:hover {box-shadow: 0 0 10px 0px var(--success);}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    border-top: 1px solid #0000000d;
}

.btn-dark, .list-group-item-dark {
    color: white;
    background-color: var(--gray);
    border-color: var(--gray);
}
.btn-dark:hover, .list-group-item-dark:hover {
    color: white;
    background-color: var(--gray-dark);
    border-color: white;
}

.dark_mode .dark_affected, body.dark_mode{
    background-color: var(--dark_mode_light_gray) !important;
    color: white;
    transition: 0.25s;
}
.dark_mode .dark_affected .list-group-item-dark, .dark_mode .dark_affected .btn, .dark_mode .dark_affected .card {
    color: #ffffff;
    background-color: #0000;
    box-shadow: 0px 1px 2px 0 black;
}

.dark_mode .dark_affected input {
    color: #ffffff;
    background-color: #0000;
    border: 1px solid var(--picolito-primary-boxshadow-border);
}

.dark_mode .dark_affected img.svg {
    filter: invert(1);
    /* border: 1px solid rgb(43 43 43); */
}
.dropdown-menu {
    transform: translate(10px, 10px) !important;
}

input[type=checkbox] {
    transform: scale(1.33);
    cursor: pointer;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    color: #000;
    background-color: var(--picolito-primary);
    border-color: var(--picolito-primary);
}
.btn-primary:hover {
    box-shadow: 0 0 0 1px #00000080;
}
.btn-primary:active, .btn-primary:focus {
    background-color: var(--picolito-primary);
    border-color: var(--picolito-primary-shade);
    box-shadow: 0 0 0 0.25rem var(--picolito-primary-boxshadow-border);
}
.dark_mode .dark_affected .btn-primary{
    color: #fff;
    background-color: none;
    /* border-color: #e3e3e3; */
}

.dark_mode .dark_affected select{
    color: #fff;
    border-color: #999999;
    background-color: var(--dark_mode_light_gray);
}

.d-flex {
    justify-content: center;
}

hr, .btn, div#ingame_option, .form-control, .list-group, .list-group-item {
    box-shadow: 0px 1px 4px 0px #00000030;
    justify-content: center;
    align-items: center;
}

label.form-check-label {
    margin-bottom: 0.25rem;
    user-select: none;
    -webkit-user-select:none;
    padding-left: 1.25rem;
}
.form-check {margin-top: 2vh;margin-bottom: 2vw;padding-right: 1.25rem;}

.alert {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-header {
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.card h5 {
    padding: 0.2rem;
    margin: 0;
}

.card-title H5 {
    font-weight: bold;
}

.card-body {padding: .75rem;/* background-color: #0000000d; */}

.card {
    padding: 2px;
    transition: 0.5s;
}

.list-group-item {
    border: 1px solid #00000040;
}

p, .form-group, .form-check.form-switch {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.form-group {.form-group {
    margin-bottom: 1rem;
};
}

a {
    color: #0060c7;
}

.weakest_link a {
    color:white;
}

.text-center {
    align-items: center;
    justify-content: center;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary {
    background-color: var(--bs-gray);
    border-color: var(--bs-gray);
}

select {
    cursor: pointer;
}

code {
    color: var(--bs-red);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: var(--picolito-primary);
    border-color: var(--picolito-primary);
}

.btn.password-button span.material-symbols-outlined {
    font-size: 2.5rem;
    display: block;
}

.modal-content {
    color: black;
}

.dark_mode .dark_affected .modal-content {
    background-color: var(--bs-dark);
    border: 1px solid var(--picolo_yellow);
    color: white;
}

.dark_mode .dark_affected .modal-header {
    border-bottom: 1px solid var(--bs-gray);
}